defaults:
  - decoder: baseline
  - _self_

datasetPath: ~/competitionData/ptDecoder_ctc
outputDir: ~/results

hydra:
  run:
    dir: ${outputDir}
  sweep:
    dir: ${outputDir}
    subdir: ${hydra.job.override_dirname}
  job:
    config:
      override_dirname:
        exclude_keys:
          - outputDir
          - datasetPath
          - decoder
