defaults:
  - decoder: baseline
  - _self_

hydra:
  run:
    dir: ${outputDir}
  sweep:
    dir: ${outputDir}
    subdir: ${hydra.job.override_dirname}
  job:
    config:
      override_dirname:
        exclude_keys:
          - outputDir
          - datasetPath
          - decoder

outputDir: /oak/stanford/groups/henderj/stfan/logs/speech_logs/pt_neural_decoder
datasetPath: /oak/stanford/groups/henderj/stfan/data/ptDecoder_ctc
